body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #584f80;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.buttonSubmit {
  background-color: #00a400;
  border: none;
  padding-left: 50px;
  padding-right: 50px;
}

@media (max-width: 768px) {
  .containerButton {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    margin-top: 10px;
  }

  .buttonSubmit{
    margin-left: 35%;
  }
}